<h1>Hello from votes</h1>

<a href='/votes/new'>Add new vote</a>
<br>
<br>
<ul>
<% @votes.each do |vote| %>
  <li>
    <h3>
      <%= link_to(vote.name , "/votes/#{vote.id}") %>
    </h3>
    <br>
    <h5><%= vote.yes %></h5>
    <h5><%= vote.no %></h5>
    <input type="hidden" name="name" value="vote.name">
  </li>
<% end %>
</ul>
