<div class="comments-container">
  <div class="row">
    <div class="small-12 columns">
      <h2>Hash Comments</h2>
      <a href='/comments/new'>Add New Comment</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns all-comments">
      <ul>
      <% @comments.each do |comment| %>
        <li>
        <%= link_to(comment.content, "/comments/#{comment.id}") %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

