<h1>Hello from new</h1>
<br>
<form action="/comments" method="post">
  <label for="content">New Comment</label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <input type="submit" value="Submit">
</form>
