<h1>Hello from show</h1>

<h3><%= @comment.content %></h3>

<form action="/comments/<%=@comment.id%>" method="post">
  <label for="content">Reply</label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <input type="submit" value="Submit">
</form>

<br>
<br>
<br>

<ul>
<% @replies.each do |reply| %>
  <li>
  <%= reply.content %>
  </li>
<% end %>
